<div class="row">
    <div class="container" style="text-align: center;">
      <h1 class="h1-colors">I miei progetti</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="container containerflex">
      <div class="pre-card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/card1.webp" alt="Card image cap" width="286" height="143">
          <div class="card-body">
            <h5 class="card-title">JMCRC & CSMCRC</h5>
            <p class="card-text">Librerie per la gestione del protocollo RCON utilizzato sui server Minecraft
              implementate in Java e C#.</p>
            <button type="button" class="btn btn-primary"
              onclick="window.location.href='https://github.com/mrBackSlash-it/jmcrc'" style="margin-right: 5px;">JMCRC</button>
            <button type="button" class="btn btn-primary"
              onclick="window.location.href='https://github.com/mrBackSlash-it/csmcrc'">CSMCRC</button>
          </div>
        </div>
      </div>
      <div class="pre-card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/card2.webp" alt="Card image cap" width="286" height="143">
          <div class="card-body">
            <h5 class="card-title">CloudBooks [INDEV]</h5>
            <p class="card-text">Gestionale open source web based indirizzato ad Hotel/Ristoranti. Scritto in PHP,
              HTML5, CSS3 e JavaScript.</p>
            <button type="button" class="btn btn-primary"
              onclick="window.location.href='https://github.com/mrBackSlash-it/CloudBooks'">GitHub</button>
          </div>
        </div>
      </div>
      <div class="pre-card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/card3.webp" alt="Card image cap" width="286" height="143">
          <div class="card-body">
            <h5 class="card-title">Orario Videolezioni</h5>
            <p class="card-text">Tiene traccia di tutte le videolezioni ed apre i link automaticamente. Scritto in C#,
              utilizza DB SQLite.
            </p>
            <button type="button" class="btn btn-primary"
              onclick="window.location.href='https://github.com/mrBackSlash-it/orariovideolezioni'">GitHub</button>
          </div>
        </div>
      </div>
      <div class="pre-card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/card4.webp" alt="Card image cap" width="286" height="143">
          <div class="card-body">
            <h5 class="card-title">PowerIO16 [In stallo]</h5>
            <p class="card-text">Centralina basata su Arduino MEGA per la gesione di 16 relè controllabile da seriale
              con sowftware apposisto.</p>
            <button type="button" class="btn btn-primary"
              onclick="window.location.href='https://mrbackslash.it/assets/home/PowerIO16.zip'">Download ZIP (Solo
              progetti)</button>
          </div>
        </div>
      </div>
    </div>
  </div>
