
    <div class="row justify-content-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Su di <span class="text-muted">me...</span></h2>
            <p class="lead">Ciao! Mi chiamo Vittorio, ho 15 anni e l'informatica è la mia più grande passione. Vivo a
                San Giovanni
                Rotondo e frequento l'ISIS "Luigi Di Maggio".
                Il campo in cui ho più esperienza è la programmazione di backend in PHP e la gestione di server Linux
                basati su RHEL/Centos.
                Ho inziato ad usare Linux attivamente nel 2014.
                Altre mie passioni sono la cybersecurity, l' elettronica in generale, la robotica, i droni, il disegno
                CAD ed il video editing.
                Ho conoscenza media e due anni di esperienza per i linguaggi PHP e C#. Ho conoscenze base di Python, C,
                C++, Arduino, Java ed SQL.
                Ho discrete conoscenze di GIT e software basati su essi come GitHub o GitLab.
                Ho molta esperienza con software come Premiere Pro, Photoshop, Suite Office/Libreoffice ed ho conoscenze
                base di software come AutoCAD, Blender ed EasyEDA.
                Nel mio tempo libero mi diletto con la musica ed edito video per gli amici.</p>
        </div>
        <div class="col-md-3 order-md-1">
            <img class="featurette-image img-fluid mx-auto" width="450"
                height="450" src="../../assets/circle-cropped.webp" alt="Mio logo">
        </div>
    </div>

<br><br>