/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body{
    background-color: #1e1e24 !important;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #3b5df0;
  }
  
  body::-moz-scrollbar {
    width: 0.50rem;
  }
  
  body::-moz-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-moz-scrollbar-thumb {
    background: #3b5df0;
  }
  
  .navbar{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    background:transparent;
    border:0;
  }
  
  .transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }
  .animate-menu{
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
  }
  .container{
    max-width: none !important;
  }
  .header{
    display: block !important;
  }
  .pd-0{
    padding: 0 !important;
  }
  .logo{
    float: left;
  }
  .logo img{
    width: 200px;
    height: 130px;
    object-fit: cover;
  }
  .hamb-menu{
    display: none;
  }
  .main-menu-bar{
    float: left;
  }
  .main-menu{
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 40px;
  }
  .main-menu-item{
    display: inline-block;
    padding: 10px;
  }
  .main-menu-item a{
    color:#000;
    position: relative;
  }
  .main-menu-item a:hover{
    color:#000;
    text-decoration: none;
  }
  .main-menu-item a:before{
    content:"";
    position: absolute;
    width:0%;
    height: 2.5px;
    left:0;
    bottom:0;
    background: #000;
    transition: .3s ease-out;
  }
  .main-menu-item a:hover:before{
    width: 100%;
  }
  .carousel{
    width:100%;
  }
  .carousel img{
    width: 100%;
    object-fit: cover;
  }
  .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .f-col{
    position: relative;
  }
  .f-col .txt{
    position: absolute;
    background: #3b5df0;
    color:#fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    left: 25%;
    min-width: 600px;
    z-index: 3;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .containerflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .s-col img{
    width: 100%;
  }
  .pre-card{
    width: 20%;
    padding: 1rem;
  }
  .contatti{
    width: 50%;
    margin: auto;
  }
  .footer{
    border-top: 1px solid #1d1d1d;
    background: #343a40;
    color:#fff;
    text-align: center;
  }
  .footer footer{
    width: 100%;
  }
  .footer span{
    display: inline-block;
    width:100%;
  }
  .h1-colors{
    color: #fff;
  }
  @media (max-width:900px) {
    .f-col .txt{
      left: 10%;
    }
    .pre-card{
      padding: 1%;
    }
  }
  @media (max-width:767px) {
    .col-md-6{
      width: 50% !important;
      max-width: none;
    }
    .hamb-menu{
      display: block;
      float: right;
      padding: 40px;
      cursor: pointer;
    }
    .hamb-menu span{
      display: block;
      width:30px;
      height:5px;
      background: #000;
      margin-top: 5px;
    }
    .main-menu{
      padding: 0;
      width:100%;
      height: 0;
      overflow: hidden;
    }
    .is-open{
      min-height: 200px;
      overflow: auto;
    }
    .main-menu-item{
      width:100%;
    }
    .f-col .txt{
      position: relative;
      left:0;
      padding: 20px;
    }
    .pre-card{
      width:100%;
    }
    .pre-card .card{
      margin: auto;
    }
  }


  .carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 9rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 24rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.centercarousel{
    vertical-align: middle;
}
